<%= form_for(staff) do |f| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <table class="table" style="margin-top: 30px">
        <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
          <th><%= f.text_field :name, {class: 'form-control' ,
                                       :style => "max-width: 340px;"} %></th>
        </tr>
        <tr>
          <th>E-mail</th>
          <th colspan="3"></th>
          <th><%= f.email_field :email, {class: 'form-control' ,
                                         :style => "max-width: 340px;"} %></th>
        </tr>
        <tr>
          <th>Gender</th>
          <th colspan="3"></th>
          <th><%= f.radio_button :gender, 'male', :checked => true , :style => "margin-left: 10px;" %>
            <%= label :gender_male, 'Male' %>
            <%= f.radio_button :gender, 'female', :style => "margin-left: 20px;" %>
            <%= label :gender_female, 'Female' %></th>
        </tr>
        <tr>
          <th>Phone No.</th>
          <th colspan="3"></th>
          <th><%= f.telephone_field :phone, {class: 'form-control' , :style => "max-width: 340px;"} %></th>
        </tr>
        <tr>
          <th>Position</th>
          <th colspan="3"></th>
          <th><%= f.select(:position, options_for_select([['Project Manager', 'Project Manager'],
                                                          ['Senier Programer', 'Senier Programer'],
                                                          ['Junior Programer', 'Junior Programer'],
                                                          ['Administrator', 'Administrator']]), {}, {class: "form-control" , :style => "max-width: 350px;"}) %>
          </th>
        </tr>
        </thead>
      </table>
    </div>

    <div class="actions">
      <div style="margin-bottom: 30px;">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', staffs_path , class: "btn btn-info" %>
      </div>
    </div>

<% end %>
