<h1 align="center">Staffs</h1>

<%= link_to 'New Staff', new_staff_path , class: "btn btn-secondary" %><br>

<table class="table" style="margin-top: 30px">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
      <th>Phone No.</th>
      <th colspan="3"></th>
      <th>E-mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= link_to staff.name , staff %></td>
        <th colspan="3"></th>
        <td><%= staff.phone %></td>
        <th colspan="3"></th>
        <td><%= staff.email %></td>
        <th colspan="3"></th>
      </tr>
    <% end %>
  </tbody>
</table>