<p>
  <strong>Name:</strong>
  <%= @staff.name %><br>
  <strong>E-mail:</strong>
  <%= @staff.email %><br>
  <strong>Gender:</strong>
  <%= @staff.gender %><br>
  <strong>Phone:</strong>
  <%= @staff.phone %><br>
  <strong>Position:</strong>
  <%= @staff.position %><br>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) , class: "btn btn-primary" %>
<%= link_to 'Back', staffs_path , class: "btn btn-info" %>
