<h1 align="center">Statistic</h1>
<body align="center">
<%= form_for :calculator, url: { action: :new }, method: :get do |f|   %>
    <div class="field">
      <table class="table" style="margin-top: 30px">
        <thead>
        <tr>
          <th>
            <div style="margin-bottom: 45px; margin-top: 10px;">Start</div>
            <div style="margin-bottom: 28px;">End</div>
          </th>
          <th>
            <%= date_field_tag :a, params[:a],{class: "form-control" , :style => "max-width: 300px; margin-top: 10px;"} %><br>
            <%= date_field_tag :b, params[:b],{class: "form-control" , :style => "max-width: 300px;"} %><br>
          </th>
        </tr>
        <tr>
          <th>Operation</th>
          <th>
            <%= select_tag :operation, options_for_select([['All Candidate', :candidate_all],
                                                           ['Passed Candidate', :candidate_pass],
                                                           ['Rejected Candidate', :candidate_reject]], params[:operation]),{class: "form-control" , :style => "max-width: 300px;"} %>
          </th>
        </tr>
        <tr>
          <th>
            <%= f.submit "Get Value", class: "btn btn-secondary" %>
          </th>
          <th>
            <% unless @result.nil? %>
                <p style="margin-top: 30px"><%= @result %> </p>
            <% end %>
          </th>
        </tr>
        </thead>
      </table>
    </div>
<% end %>
</body>