<%= form_for(candidate) do |f| %>
    <% if candidate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
            <% candidate.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <div class="field">
        <table class="table" style="margin-top: 30px">
          <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
            <th><%= f.text_field :name, {class: 'form-control' ,
                                         :style => "max-width: 340px;"} %></th>
          </tr>
          <tr>
            <th>E-mail</th>
            <th colspan="3"></th>
            <th><%= f.email_field :email, {class: 'form-control' ,
                                           :style => "max-width: 340px;"} %></th>
          </tr>
          <tr>
            <th>Gender</th>
            <th colspan="3"></th>
            <th><%= f.radio_button :gender, 'male', :checked => true , :style => "margin-left: 10px;" %>
              <%= label :gender_male, 'Male' %>
              <%= f.radio_button :gender, 'female', :style => "margin-left: 20px;" %>
              <%= label :gender_female, 'Female' %></th>
          </tr>
          <tr>
            <th>Address</th>
            <th colspan="3"></th>
            <th><%= f.text_area :address, {class: 'form-control' ,
                                                            :style => "max-width: 340px;"} %></th>
          </tr>
          <tr>
            <th>Phone No.</th>
            <th colspan="3"></th>
            <th><%= f.telephone_field :phone, {class: 'form-control' , :style => "max-width: 340px;"} %></th>
          </tr>
          <tr>
            <th>
              <div style="margin-bottom: 45px;">Source</div>
              <div>Detail</div>
            </th>
            <th colspan="3"></th>
            <th><%= f.select(:source, options_for_select([['Class', 'Class'], ['Web', 'Web']]),
                                     {}, {class: "form-control" , :style => "max-width: 200px;"}) %>
              <br>
              <%= f.text_field :source_detail, {class: 'form-control' , :style => "max-width: 340px;"} %>
            </th>
          </tr>
          <tr>
            <th>Position</th>
            <th colspan="3"></th>
            <th><%= f.select(:position, options_for_select([['Project Manager', 'Project Manager'],
                                                            ['Senier Programer', 'Senier Programer'],
                                                            ['Junior Programer', 'Junior Programer'],
                                                            ['Administrator', 'Administrator']]), {}, {class: "form-control" , :style => "max-width: 350px;"}) %>
            </th>
          </tr>
          <tr>
            <th>
              <div style="margin-bottom: 45px;">Pre-Salary</div>
              <div>Expecting-Salary</div>
            </th>
            <th colspan="3"></th>
            <th>
              <%= f.number_field :pre_salary, {class: 'form-control' , :style => "max-width: 300px;"} %>
              <br>
              <%= f.number_field :expect_salary, {class: 'form-control' , :style => "max-width: 300px;"} %>
            </th>
          </tr>
          <tr>
            <th>
              <div style="margin-bottom: 45px;">General Score</div>
              <div>Techtical Score</div>
            </th>
            <th colspan="3"></th>
            <th>
              <%= f.number_field :test_general, {class: 'form-control' , :style => "max-width: 200px;"} %>
              <br>
              <%= f.number_field :test_techtical, {class: 'form-control' , :style => "max-width: 200px;"} %>
            </th>
          </tr>
          <tr>
            <th>Blacklist</th>
            <th colspan="3"></th>
            <th><%= f.check_box :blacklist %></th>
          </tr>
          </thead>
        </table>
      </div>

    <div class="actions">
      <div style="margin-bottom: 30px;">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', candidates_path , class: "btn btn-info" %>
      </div>
    </div>

<% end %>
