<h1 align="center">Candidates</h1>

<%= link_to 'New Candidate', new_candidate_path , class: "btn btn-secondary" %><br>

<table class="table" style="margin-top: 30px">
  <thead>
    <tr>
      <th id="items30">Name</th>
      <th colspan="5"></th>
      <th id="items30">Progression</th>
      <th colspan="5"></th>
      <th id="items30">Up coming schedule</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>

  <!-- PROGRESSION BAR -->
  <% if !candidate.progressions.last.nil? %>
       <% if candidate.progressions.last.status == "Contract[1]" %>
      <% a = 10 %>
          <% elsif candidate.progressions.last.status == "Interview[1]" %>
          <% a = 20 %>
              <% elsif candidate.progressions.last.status == "Estimate[1]" %>
          <% a = 30 %>
                  <% elsif candidate.progressions.last.status == "Contract[2]" %>
          <% a = 40 %>
                      <% elsif candidate.progressions.last.status == "Interview[2]" %>
          <% a = 50 %>
                          <% elsif candidate.progressions.last.status == "Estimate[2]" %>
          <% a = 60 %>
                              <% elsif candidate.progressions.last.status == "Contract[3]" %>
          <% a = 70 %>
                                  <% elsif candidate.progressions.last.status == "Contract[1]" %>
          <% a = 80 %>
                                      <% elsif candidate.progressions.last.status == "Sign Contract" %>
          <% a = 90 %>
                                          <% elsif candidate.progressions.last.status == "Pass" %>
          <% a = 100 %>
                                              <% elsif candidate.progressions.last.status == "Reject" %>
                                                  <% a = 0 %>
                                                  <% end %>
  <% end %>
  <!-- PROGRESSION BAR END -->

      <tr>
        <td><%= link_to candidate.name , candidate %></td>
        <th colspan="5"></th>
          <% if !candidate.progressions.last.nil? %>
            <td><%= link_to candidate.progressions.last.status ,edit_candidate_progression_path(candidate , candidate.progressions.last.id) %><br>
              <progress class="progress" value="<%= a %>" max="100" aria-describedby="example-caption-1"></progress>
            </td>
            <th colspan="5"></th>
      <% else %>
            <td>
              <%= link_to '-', new_candidate_progression_path(candidate) %><br>
              <progress class="progress" value="<%= a %>" max="100" aria-describedby="example-caption-1"></progress>
            </td>
            <th colspan="5"></th>
      <% end %>
        <% if !candidate.calendars.last.nil? %>
            <td><%= candidate.calendars.last.event %><br>
                <%= candidate.calendars.last.event_date.strftime("%Y-%m-%d") %>
            </td>
            <th colspan="5"></th>
        <% else %>
            <td><%= '-' %></td>
            <th colspan="5"></th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>