<p>
  <strong>Name:</strong>
  <%= @candidate.name %><br>
  <strong>E-mail:</strong>
  <%= @candidate.email %><br>
  <strong>Phone:</strong>
  <%= @candidate.phone %><br>
  <strong>Address:</strong>
  <%= @candidate.address %><br>
  <strong>Source:</strong>
  <%= @candidate.source %> : <%= @candidate.source_detail %><br>
  <strong>Position:</strong>
  <%= @candidate.position %><br>
  <strong>General Test:</strong>
  <%= @candidate.test_general %><br>
  <strong>Technical Test:</strong>
  <%= @candidate.test_techtical %><br>

</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) , class: "btn btn-primary" %>
<%= link_to 'Back', candidates_path , class: "btn btn-info" %>
