<%= form_for([@candidate, @candidate.progressions.build]) do |f| %>

    <div class="field">
      <table class="table" style="margin-top: 30px">
        <thead>
        <tr>
          <th>Staff In Charge</th>
          <th colspan="3"></th>
          <th>
            <%= f.select(:staff_id, options_for_select(Staff.all.collect { |p| [ p.name, p.id ] }),
                         {},  {class: "form-control" , :style => "max-width: 350px;"}) %>
          </th>
        </tr>
        <tr>
          <th>Status</th>
          <th colspan="3"></th>
          <th>
            <%= f.select(:status,
                         options_for_select([['Contract[1]', 'Contract[1]'],
                                             ['Interview[1]', 'Interview[1]'],
                                             ['Estimate[1]', 'Estimate[1]'],
                                             ['Contract[2]', 'Contract[2]'],
                                             ['Interview[2]', 'Interview[2]'],
                                             ['Estimate[2]', 'Estimate[2]'],
                                             ['Contract[3]', 'Contract[3]'],
                                             ['Sign Contract', 'Sign Contract'],
                                             ['Pass', 'Pass'],['Reject', 'Reject']]),
                         {}, {class: "form-control" , :style => "max-width: 200px;"}) %>
          </th>
        </tr>
        </thead>
      </table>
    </div>

    <div class="actions">
      <div style="margin-bottom: 30px;">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', candidates_path , class: "btn btn-info" %>
      </div>
    </div>

<% end %>