<%= form_for(calendar) do |f| %>

    <% if calendar.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
            <% calendar.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <table class="table" style="margin-top: 30px">
        <thead>
        <tr>
          <th>
            <div style="margin-bottom: 20px">Event</div>
          </th>
          <th colspan="3"></th>
          <th>
            <%= f.text_field :event , {class: "form-control" , :style => "max-width: 300px; margin-top: 10px"} %><br>
          </th>
        </tr>
        <tr>
          <th>Date</th>
          <th colspan="3"></th>
          <th>
            <%= f.date_field :event_date , {class: "form-control" , :style => "max-width: 300px;"} %>
          </th>
        </tr>
        <tr>
          <th>Period</th>
          <th colspan="3"></th>
          <th>
            <%= f.select(:period, options_for_select([['AM', 'AM'], ['PM', 'PM']]),
                         {}, {class: "form-control" , :style => "max-width: 300px;"}) %>
          </th>
        </tr>
        <tr>
          <th>Candidate</th>
          <th colspan="3"></th>
          <th>
            <%= f.select(:candidate_id, options_for_select(Candidate.all.collect { |p| [ p.name, p.id ] }),
                         {},  {class: "form-control" , :style => "max-width: 300px;"}) %>
          </th>
        </tr>
        <tr>
          <th>Staff</th>
          <th colspan="3"></th>
          <th>
            <%= f.select(:staff_id, options_for_select(Staff.all.collect { |p| [ p.name, p.id ] }),
                         {},  {class: "form-control" , :style => "max-width: 300px;"}) %>      </th>
        </tr>
        </thead>
      </table>
    </div>

    <div class="actions">
      <div style="margin-bottom: 30px;">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', calendars_path , class: "btn btn-info" %>
      </div>
    </div>

<% end %>