<h1 align="center">Calendars</h1>

<br>

<%= link_to 'New Event', new_calendar_path , class: "btn btn-secondary" %><br>

<br>

<%= month_calendar do |date| %>
    <div align="center"><strong><%= date.strftime("%d") %></strong><br></div>
    <% a = '1@#$%' %> <!--EVENT-->
    <% b = '1@#$%' %> <!--AM-->
    <% c = '1@#$%' %> <!--PM-->

    <% @calendars.each do |calendar| %>
        <% if calendar.event_date.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") %>

            <!--SHOW AM+EVENT-->
            <% if calendar.period == "AM" %>
                <% if a != calendar.period + " : " + calendar.event %>
                    <% a = calendar.period + " : " + calendar.event %>
                    <strong><%= a %></strong><br>
                    c : <%= Candidate.find(calendar.candidate_id).name %>
                <% end %>
                <br>s :
                <% if b != Staff.find(calendar.staff_id).name %>
                    <% b = Staff.find(calendar.staff_id).name %>
                    <%= b %>
                <% end %>
            <% end %>

            <!--SHOW PM+EVENT-->
            <% if calendar.period == "PM" %>
                <% if a != calendar.period + " : " + calendar.event %>
                    <% a = calendar.period + " : " + calendar.event %>
                    <br><strong><%= a %></strong><br>
                    c : <%= Candidate.find(calendar.candidate_id).name %>
                <% end %>
                <br>s :
                <% if c != Staff.find(calendar.staff_id).name %>
                    <% c = Staff.find(calendar.staff_id).name %>
                    <%= c + " " %>
                <% end %>
            <% end %>

        <% end %>
    <% end %>
<% end %>