
body{
  margin-top: 60px;
  margin-left: 40px;
}

label{
  margin-top:     20px;
  margin-bottom: 10px;
}

#items30{
  margin-left:  40px;
}

/* Edit Page */

#add_form_40 {
  margin-left:	40px;
}

#add_form_20 {
  margin-left:	20px;
}


.simple-calendar {
  border-style: outset;
  margin: auto;


  .day {
    width:150px !important;
    border-style: ridge;
    height: 150px !important;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #b3d2f0
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: rgba(149, 149, 151, 0.99)
  }
  .next-month {
    background-color: rgba(149, 149, 151, 0.99)

  }
  .current-month {}

  .has-events {
  }
}

// Custom bootstrap variables must be set or imported before bootstrap itself
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require bootstrap_and_overrides
 *= require simple_calendar
  */
