
body{
  margin-top: 60px;
  margin-left: 40px;
}

label{
  margin-top:     20px;
  margin-bottom: 10px;
}

#items30{
  margin-left:  40px;
}

/* Edit Page */

#add_form_40 {
  margin-left:	40px;
}

#add_form_20 {
  margin-left:	20px;
}


.simple-calendar {
  .day {height: 50px}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
