<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">ARMS</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a <%= link_to "Candidate", candidates_path , :class => "nav-link" %> </a>
    </li>
    <li class="nav-item">
      <a <%= link_to "Staff", staffs_path , :class => "nav-link" %></a>
    </li>
    <li class="nav-item">
      <a <%= link_to "Calendar", calendars_path , :class => "nav-link" %></a>
    </li>
    <li class="nav-item">
      <a <%= link_to "Statistic", statistics_path , :class => "nav-link" %></a>
    </li>
  </ul>
</nav>